<h2><%= @restaurant.name %></h2>

<p><%= @restaurant.address %></p>

<label>Rating:</label>
<small><%= @restaurant.rating %></small>

<br>

<%= link_to "Back", restaurants_path %>
<br>
<%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant.id) %>
<br>
<%= link_to "Delete", restaurant_path(@restaurant.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure to remove #{@restaurant.name}?"} %>